---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Urologia from '../components/Urologia.astro';
import Cardiologia from '../components/Cardiologia.astro';
import Cirugias from '../components/Cirugias.astro';
import Foother from '../components/Foother.astro';
import Dermatologia from '../components/Dermatologia.astro';
import Mapa from '../components/Mapa.astro'
import CategoryFilter from '../components/CategoryFilter.astro';
import SpecialtiesHero from '../components/SpecialtiesHero.astro'
---

<Layout title="Clínica Privada | Especialidades Médicas">
	<Navbar />
	<main>
        <Navbar />
        <CategoryFilter />
        <SpecialtiesHero />
		<Urologia />
		<Cardiologia />
		<Cirugias />
		<Dermatologia />
		<Mapa />
		<Foother />
	</main>
	
</Layout>