---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Urologia from '../components/Urologia.astro';
import Cardiologia from '../components/Cardiologia.astro';
import Cirugias from '../components/Cirugias.astro';
import Intro from '../components/Intro.astro';
import Foother from '../components/Foother.astro';
import Doctores from '../components/Doctores.astro';
import Dermatologia from '../components/Dermatologia.astro';
import Mapa from '../components/Mapa.astro'
---

<Layout title="Clínica Privada | Especialidades Médicas">
	<Navbar />
	<main>
		<Intro />
		<Urologia />
		<Cardiologia />
		<Cirugias />
		<Dermatologia />
		<Doctores />
		<Mapa />
		<Foother />
	</main>
	
</Layout>